In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("NetflixViewingHistory.csv")

In [3]:
Entries = len(df)
Entries

1972

In [4]:
Columns = len(df.columns)
Columns

2

In [5]:
df.columns.values.tolist()

['Title', 'Date']

In [6]:
df["Title"]

0              Russian Doll: Season 2: Station to Station
1                     Russian Doll: Season 2: Brain Drain
2               Russian Doll: Season 2: Coney Island Baby
3                          Russian Doll: Season 2: Nowhen
4       Eternally Confused and Eager for Love: Season ...
                              ...
1967                      The OA: Part I: Chapter 4: Away
1968                  The OA: Part I: Chapter 3: Champion
1969              The OA: Part I: Chapter 2: New Colossus
1970                The OA: Part I: Chapter 1: Homecoming
1971                                   The Imitation Game
Name: Title, Length: 1972, dtype: object

In [7]:
df["Title"].apply(lambda title: "Designated Survivor" in title)

0       False
1       False
2       False
3       False
4       False
        ...
1967    False
1968    False
1969    False
1970    False
1971    False
Name: Title, Length: 1972, dtype: bool

In [8]:
df["Title"].apply(lambda title: "Designated Survivor" in title).sum()

10

In [9]:
df.loc[["Bridgerton" in title for title in df["Title"]], :]

                                                Title     Date
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22
9                       Bridgerton: Season 2: Harmony   4/3/22
10                   Bridgerton: Season 2: The Choice   4/2/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
15               Bridgerton: Season 2: Capital R Rake  3/26/22
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21

In [10]:
df.loc[["Bridgerton" in title for title in df["Title"]], :].sort_values("Date", ascending=True)

                                                Title     Date
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
15               Bridgerton: Season 2: Capital R Rake  3/26/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
10                   Bridgerton: Season 2: The Choice   4/2/22
9                       Bridgerton: Season 2: Harmony   4/3/22
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22

In [11]:
df.loc[["Bridgerton" in title for title in df["Title"]], :].sort_values("Date", ascending=True)["Title"]

413            Bridgerton: Season 1: An Affair of Honor
414              Bridgerton: Season 1: Art of the Swoon
415             Bridgerton: Season 1: Shock and Delight
416    Bridgerton: Season 1: Diamond of the First Water
409                Bridgerton: Season 1: After the Rain
410                  Bridgerton: Season 1: Oceans Apart
411                         Bridgerton: Season 1: Swish
412                Bridgerton: Season 1: The Duke and I
15                 Bridgerton: Season 2: Capital R Rake
13           Bridgerton: Season 2: A Bee in Your Bonnet
14               Bridgerton: Season 2: Off to the Races
11            Bridgerton: Season 2: An Unthinkable Fate
12                        Bridgerton: Season 2: Victory
10                     Bridgerton: Season 2: The Choice
9                         Bridgerton: Season 2: Harmony
8       Bridgerton: Season 2: The Viscount Who Loved Me
Name: Title, dtype: object

In [12]:
df.loc[["Bridgerton" in title for title in df["Title"]], :].sort_values("Date", ascending=False)

                                                Title     Date
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22
9                       Bridgerton: Season 2: Harmony   4/3/22
10                   Bridgerton: Season 2: The Choice   4/2/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
15               Bridgerton: Season 2: Capital R Rake  3/26/22
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21

In [13]:
df.loc[["Bridgerton" in title for title in df["Title"]], :].sort_values("Date", ascending=False)["Title"]

8       Bridgerton: Season 2: The Viscount Who Loved Me
9                         Bridgerton: Season 2: Harmony
10                     Bridgerton: Season 2: The Choice
11            Bridgerton: Season 2: An Unthinkable Fate
12                        Bridgerton: Season 2: Victory
13           Bridgerton: Season 2: A Bee in Your Bonnet
14               Bridgerton: Season 2: Off to the Races
15                 Bridgerton: Season 2: Capital R Rake
409                Bridgerton: Season 1: After the Rain
410                  Bridgerton: Season 1: Oceans Apart
411                         Bridgerton: Season 1: Swish
412                Bridgerton: Season 1: The Duke and I
413            Bridgerton: Season 1: An Affair of Honor
414              Bridgerton: Season 1: Art of the Swoon
415             Bridgerton: Season 1: Shock and Delight
416    Bridgerton: Season 1: Diamond of the First Water
Name: Title, dtype: object